# Visual Studio cache
.vs/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Optional: temporary files
*.log
*.tmp

# Database secrets
DataBaseSettings.ini
